<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-languagge" content="vi", charset="UTF-8"> <!--write vietnamese in sublime text : push F2; so vn ime: on in the status, and preference setting in telex --> 
  <link rel="stylesheet" href="styles.css"
</head>
<body style="background-color:rgb(147, 186, 185);">

<h1> My applications are here </h1>
<p>This is an individual project, which the objectif is to code at leat 2 hours per day. Each project I do have to have a meaning. 
</p>
<p>
  <a href="#projects"> Here </a> the list of all my projects 
  <a href = "#todo"> Here </a> the list of all tasks todo update today
</p>

<p>The first project is to track the progress of all my projects. Begin the April 6th 2018. Deadline: April 6th 2018
</p>
<p> My favorite quote is <q>The history belongs to the one who have a dream</q> in a book of Daewoo's president Kim Woo Choong "It's a Big World and There's Lots to be Done". Below this content in vietnamese - my mother tongue
<blockquote>Lịch sử thuộc về những người biết ưóc mơ: Ước mơ là động lực làm thay dổi thế giới. Những người có ước mơ, những xã hội làm cho ước mơ trở thành hiện thực và đất nước biết chia sẻ ước mơ và tất cả mọi người có thể trở thành bậc anh hùng trong lịch sử thế giới. Tôi cam đoan rằng tất cả những người đang làm nên lịch sử thế giới ngày hôm nay đều có những ước mơ lớn khi còn trẻ
</blockquote> 
You can read this book in vietnamese <a href="https://fevent.files.wordpress.com/2011/03/tgronglonva-coquanhieuviecfailam-kimwoochung.pdf" target="_blank"> here </a>
</p>
<table style="width:100%; text-align: center;" id = "projects">
  <caption> Hong's projects list </caption>
  <tr>
    <th> Project names</th>
    <th> Begin </th>
    <th> Ending </th>
    <th> Progress </th>
    <th> Comments </th>
  </tr>
  <tr>
    <td> Tracking projects </td>
    <td> 06/04/18</td>
    <td> 07/04/18</td>
    <td> Late </td>
    <td> in progress </td> 
  <tr>
    <td> Datamining project </td>
    <td> 06/04/18 </td>
    <td> 06/06/18 </td>
    <td> first week : data preparation </td>
</table>  
<hr>
<h2> Todo Today </h2>
<table style="width: 100%; text-align: center;" id="todo">
  <caption> Hong's list todo today </caption>
  <tr> 
    <th> Date</th>
    <th> Todo </th>
    <th> Comments </th>
  </tr> 
  <tr>
    <td> 07/04/18 </td>
    <td> 
      <ul>
        <li> Slack list articles </li>
        <li> Feature engineering theory preparation </li>
        <li> Clothes preparation </li>
      </ul>
    </td>
  </tr>
</table>
<h2> Link to my projects</h2>

<%= link_to image_tag('algoski.png'), 'www.algo.ski' %>
<%= link_to 'Html', learn_html_path %>


</body>

</html>
